{% load static %}
{% block content %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            <div>
                    <form action="{% url 'polls:delete' pk=question.id %}" method="GET">
                        {% csrf_token %}
                        <input class="btn btn-default btn-danger" type="submit" value="Delete"/>
                    </form>
            </div>
        </li>
    {% endfor %}
    </ul>
    <form action="{% url 'polls:poll_create' %}" method="GET"> {% csrf_token %}
        <input class="btn btn-default btn-danger" type="submit" value="create new poll"/>
    </form>
{% else %}
    <p>No polls are available.</p>
    <div class="card card-body">
        <button><a class="btn btn-primary btn-sm btn-block" href="{% url 'polls:new_poll' %}" >Create Poll</a></button>
    </div>
{% endif %}

{% endblock %}