<h2>Create your new poll and 4 choices</h2>

<form method="post">{% csrf_token %}
    <label for="fname">New Poll:</label><br>
    <input type="text" name="question" placeholder="Type poll here"><br><br><br>


<h3>Choices for poll above</h3>
  <label for="fname">First name:</label><br>
  <input type="text" name="choices_first" placeholder="Type choice here"><br>
    <label for="fname">First name:</label><br>
    <input type="text" name="choices_second" placeholder="Type choice here"><br>
    <label for="fname">First name:</label><br>
  <input type="text" name="choices_third" placeholder="Type choice here"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" name="choices_fourth" placeholder="Type choice here"><br><br>
  <input type="submit" value="Save">
</form>
<a href="{% url 'polls:index'%}">Return to the polls page</a>

